@use '../../../styles/variables.scss';

.passwordInput {
  .showPasswordTooltip {
    width: auto !important;
  }
  .passwordHelpIcon {
    cursor: help;
  }

  > svg {
    margin: auto 10px;
    cursor: pointer;
  }
}

.required {
  color: variables.$red;
}
