@use '../../../styles/variables.scss';

.snackBar {
  width: fit-content;
  max-width: 500px;
  height: fit-content;
  max-height: 300px;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 6px;
  color: variables.$light-grey;
  z-index: 999;
  display: inline-flex;
  gap: 10px;
  justify-content: flex-start;
  cursor: pointer;

  &[data-variant='success'] {
    background-color: variables.$valid;
  }

  &[data-variant='error'] {
    background-color: variables.$red;
  }

  &[data-variant='info'] {
    background-color: variables.$dark-grey;
  }
}
