@use '../../../styles/variables.scss';

.commonTable {
  border-collapse: collapse;
  width: 100%;
  color: variables.$very-dark-blue;

  th {
    text-transform: capitalize;
    font-weight: 700;
  }

  th,
  td {
    padding: 5px 7px;
    background-color: transparent;
    border-radius: 6px;
    // border-color: variables.$light-grey;
    border: 1px solid variables.$light-grey;
  }

  .actionsColumn {
    > svg {
      vertical-align: sub;
      cursor: pointer;
      margin-left: 10px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
