$white: #fff;
$light-white: #fffdfd;
$very-light-grey: #f4f6f8;
$light-grey: #eee;
$grey: #6e8098;
$dark-grey: #696e76;
$very-light-violet: #c5c9f4;
$very-dark-blue: #19202d;
$midnight: #121721;
$orange: #ec7f49;
$dark-blue: #1c2541;
$light-blue: #3a506b;

$red: #bb0909;
$valid: #4caf50;

$font-family-light: 'Kumbh Sans Light', sans-serif;
$font-family-regular: 'Kumbh Sans Regular', sans-serif;
$font-family-medium: 'Kumbh Sans Medium', sans-serif;
$font-family-bold: 'Kumbh Sans Bold', sans-serif;
